Source: php-mailparse
Section: web
Priority: optional
Maintainer: Mukunda Modell <mmodell@wikimedia.org>
Build-Depends: debhelper (>= 7), po-debconf, xsltproc , php5-dev  
Standards-Version: 3.9.1

Package: php5-mailparse
Architecture: any
Depends: ${shlibs:Depends}, ${php:Depends}, ${misc:Depends}
Description: mailparse module for PHP 5
 Email message manipulation
 .
 Mailparse is an extension for parsing and working with email
 messages.  It can deal with rfc822 and rfc2045 (MIME) compliant
 messages.


